<div class="container" *ngIf="education">
    <div class="row">
        <div id="background">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" id="formContain">
                <div class="form-group">
                    <label for="tituloE" class="text-white">Nombre del Titulo</label>
                    <input type="text" class="form-control" id="tituloE" name="tituloE" [(ngModel)]="education.tituloE"
                        required>
                </div>
                <div class="form-group">
                    <label for="nombreE" class="text-white">Nombre del Instituto</label>
                    <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="education.nombreE"
                        required>
                </div>
                <div class="form-group">
                    <label for="descripcionE" class="text-white">Descripcion de sus Estudios</label>
                    <input type="text" class="form-control" id="descripcionE" name="descripcionE"
                        [(ngModel)]="education.descripcionE" required>
                </div>
                <div class="form-group" id="date">
                    <label for="inicioE" class="text-white">Inicio de sus Estudios</label>
                    <input type="date" class="form-control" id="inicioE" name="inicioE"
                        [(ngModel)]="education.inicioE" required>
                </div>
                <div class="form-group" id="date">
                    <label for="finE" class="text-white">Fin de sus Estudios</label>
                    <input type="date" class="form-control" id="finE" name="finE"
                        [(ngModel)]="education.finE" required>
                </div>
                <div id="botons">
                    <button class="mt-3 btn btn-primary">
                        Edit Education
                    </button>
                    <br>
                    <button class="mt-3 btn btn-primary" routerLink="/home">
                        Go back
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>