.row {
    background-color: rgb(12, 2, 74);
    background-size: 100% 100%;
    background-position: center center;
    padding: 20px;
}

.container {
    width: auto;
}

#titleProyect {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#proyect {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    width: 350px;
}

#fotoProyecto{
    border-radius: 20px;
}

#fotoProyecto:hover {
    box-shadow: 5px 5px 20px white;
}

#contain {
    display: flex;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#container{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 28px;
}

@media (max-width: 470px) {
    #newProyect {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #botons {
        display: flex;
        flex-wrap: wrap;
    }
}