<div class="row">
    <div id="titleProyect">
        <h1 class="text-center text-white" id="proyect">Proyectos Realizados</h1>
    </div>
    <div id="newProyect" class="col-lg-2">
        <button type="button" class="btn btn-light" routerLink="/newproyect" *ngIf="isLogged">
            Nuevo Proyecto
        </button>
    </div>
    <div>
        <div *ngFor="let proyects of proyects">
            <div class="row" id="contain">
                <div class="text-white col">
                    <h3>{{proyects?.nombre}}</h3>
                </div>
                <div class="text-white col">
                    {{proyects?.description}}
                </div>
                <div class="col">
                    <a href={{proyects.url_imagen}} target="_blank">
                    <img [src]='proyects?.img' alt="" class="img-fluid" id="fotoProyecto" width="530px" /></a>
                </div>
            </div>
            <div id="botons" class="mx-auto">
                <div class="text-white mx-auto" *ngIf="isLogged">
                    <button class="btn btn-light" routerLink="/editproyect/{{proyects.id}}">
                        <i class="bi bi-pencil"></i> Editar
                    </button>
                </div>
                <div class="text-white mx-auto" *ngIf="isLogged">
                    <button class="btn btn-danger" (click)="delete(proyects.id)">
                        <i class="bi bi-trash-fill"></i> Borrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>