<div class="row">
    <div id="titleProyect">
        <h1 class="text-center text-white" id="proyect">Proyectos Realizados</h1>
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-light" routerLink="/newproyect" *ngIf="isLogged">
            Nuevo Proyecto
        </button>
    </div>
    <table class="table">
        <div>
            <div *ngFor="let proyects of proyects">
                <div class="text-white">
                    <h3>{{proyects?.nombre}}</h3>
                </div>
                <div class="text-white">
                    {{proyects?.description}}
                </div>
                <div>
                    <a href={{proyects.url_imagen}} target="_blank"><img [src]='proyects?.img' alt="" class="img-fluid"
                            id="fotoproyecto" /></a>
                </div>
                <div class="mx-auto">
                    <div id="botons" class="text-white mx-auto" *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editproyect/{{proyects.id}}">
                            <i class="bi bi-pencil"></i> Editar
                        </button>
                    </div>
                    <div class="text-white" *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(proyects.id)">
                            <i class="bi bi-trash-fill"></i> Borrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </table>
</div>