html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
  }

.row {
    height: 100vh;
    background-image: url("../../../assets/background.png");
    background-position: center center;
    background-size: cover;
}

#navbar {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#size {
    width: 130px;
    height: 90px;
}

.container{
    display: flex;
    position: relative;
    margin-left: 190px;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #ffffff80;
    width: 850px;
    height: 550px;
    justify-content: center;
    border-radius: 10px;
}

#title{
    display: flex;
    justify-content: center;
    align-items: center; 
}

#title2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-bottom: 125px;
    transition: .5s;
    color: #000;
}

#title2:hover {
    color: rgb(235, 194, 14);
}


#btn {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    position: relative;
    margin-bottom: 96px;
    flex-direction: column;
}

#btn:hover{
    transform: scale(1,2);
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar .navbar-toggler {
    border: 1px solid white;
}


@media(max-width: 1229px) {
    .row {
        background-size: 100% 100%;
        width: 100%;
        background-repeat: no-repeat;
        height: 100vh;
    }
}