<div class="row p-3">
    <div id="titleEducation">
        <h1 class="text-center text-white" id="edu">Educacion</h1>
    </div>
    <div id="newEducation" class="col-lg-2">
        <button type="button" class="btn btn-light" routerLink="/nuevaedu" *ngIf="isLogged">
            Agregar Educacion
        </button>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="mx-auto table">
            <div>
                <div *ngFor="let Education of education">
                    <div id="description" class="mx-auto row">
                    <div class="text-white col">
                        <h3 id="nombreE">{{Education?.nombreE}}</h3>
                    </div>
                    <div class="text-white text-center col">
                        {{Education?.descripcionE}}
                    </div>
                </div>
                    <div id="botons" class="mx-auto">
                        <div class="text-white mx-auto" *ngIf="isLogged">
                            <button class="btn btn-light" routerLink="/editedu/{{Education.id}}">
                                <i class="bi bi-pencil"></i> Editar
                            </button>
                        </div>
                        <div class="text-white mx-auto" *ngIf="isLogged">
                            <button class="btn btn-danger" (click)="delete(Education.id)">
                                <i class="bi bi-trash-fill"></i> Borrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </table>
    </div>
</div>