div {
    background-color: rgb(12, 2, 74);
    background-size: 100% 100%;
    background-position: center center;

}

h3,
h5 {
    display: inline-block;
}

#titleEducation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#edu{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    width: 350px;
}

#description{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


@media (max-width: 473px) {
    #newEducation {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #botons {
        display: flex;
        flex-wrap: wrap;
    }

    #nombreE {
        text-align: center;
    }
}