<div class="container">
    <div class="row">
        <div id="background">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm" id="formContain">
                <div class="form-group">
                    <label for="nombre" class="text-white">Nueva Skill</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                </div>
                <div class="form-group">
                    <label for="porcentaje" class="text-white">Porcentaje</label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje"
                        required>
                </div>
                <div class="form-group">
                    <label for="img" class="text-white">Link Imagen:</label>
                    <input type="file" class="form-control" accept=".jpg, .png, .jpeg" (change)="uploadImg($event)"
                        placeholder=" 🖼 Link Imagen" id="img" name="img" required>
                    <br />
                    <img class="mx-auto"
                        [src]="imageService?.url || 'https://images.vexels.com/media/users/3/131734/isolated/preview/05d86a9b63d1930d6298b27081ddc345-photo-preview-frame-icon.png'"
                        alt="your image" />
                </div>
                <div id="botons">
                    <button class="mt-3 btn btn-primary">
                        Add Skill
                    </button>
                    <br>
                    <button class="mt-3 btn btn-primary" routerLink="/home">
                        Go back
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>