<div class="row p-4">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img [src]='persona?.img' alt="" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p class="text-white text-center mt-5"><strong>{{persona?.nombre}} {{persona?.apellido}}</strong></p>
        <p class="text-white text-center">Full-Stack Developer</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <span>
            <h1 class="text-white text-center">Acerca de mí</h1>
            <p class="text-white text-center">
                {{persona?.description}}
            </p>
        </span>
    </div>
    <button id="btn-edit" type="button" class="btn mx-auto btn-light col-xs-12 col-sm-2 col-md-2 col-lg-2" routerLink="/editaracercade/1" *ngIf="isLogged">
        <i class="bi bi-pencil"></i>
    </button>
</div>