<div class="row p-3">
    <div id="titleExp">
        <h1 class="text-center text-white" id="exp">Experiencie</h1>
    </div>
    <div id="newExp" class="col-lg-2">
        <button type="button" class="btn btn-light" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <div id="container" *ngFor="let Experiencie of exp">
                    <div id="descriptions" class="mx-auto row">
                        <div class="text-white col">
                            <h3>{{Experiencie?.nombreE}}</h3>
                        </div>
                        <div class="text-white text-center col">
                            {{Experiencie?.descripcionE}}
                        </div>
                    </div>
                    <div id="botons" class="mx-auto">
                        <div class="mb-2 text-center text-white mx-auto" *ngIf="isLogged">
                            <button class="btn btn-light" routerLink="/editexp/{{Experiencie.id}}">
                                <i class="bi bi-pencil"></i> Editar
                            </button>
                        </div>
                        <div class="text-center text-white mx-auto" *ngIf="isLogged">
                            <button class="btn btn-danger" (click)="delete(Experiencie.id)">
                                <i class="bi bi-trash-fill"></i> Borrar
                            </button>
                        </div>
                    </div>
                </div>
            </tbody>
        </table>
    </div>
</div>