<div class="row p-3">
    <a name="#Experiencie"></a>
    <h1 class="text-white">Experiencie</h1>

    <div id="newExp" class="col-lg-2">
        <button type="button" class="btn btn-light" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <div *ngFor="let Experiencie of exp">
                    <div class="text-white">
                        <h3>{{Experiencie?.nombreE}}</h3>
                    </div>
                    <div class="text-white text-center">
                        {{Experiencie?.descripcionE}}
                    </div>
                    <div id="botons" class="mx-auto">
                        <div class="text-white mx-auto" *ngIf="isLogged">
                            <button class="btn btn-light" routerLink="/editexp/{{Experiencie.id}}">
                                <i class="bi bi-pencil"></i> Editar
                            </button>
                        </div>
                        <div class="text-white mx-auto" *ngIf="isLogged">
                            <button class="btn btn-danger" (click)="delete(Experiencie.id)">
                                <i class="bi bi-trash-fill"></i> Borrar
                            </button>
                        </div>
                    </div>
                </div>
            </tbody>
        </table>
    </div>
</div>