<div class="container">
    <div class="row">
        <div id="background">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm" id="formContain">
                <div class="form-group">
                    <label for="nombreE" class="text-white">Nombre de la Empresa</label>
                    <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="nombreE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE" class="text-white">Descripcion de la Tarea</label>
                    <input type="text" class="form-control" id="descripcionE" name="descripcionE"
                        [(ngModel)]="descripcionE" required>
                </div>
                <div id="botons">
                    <button class="mt-3 btn btn-primary">
                        Add Experiencia
                    </button>
                    <br>
                    <button class="mt-3 btn btn-primary" routerLink="/home">
                        Go back
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>